<% @studios.each do |studio| %>
  <h2 class='studio-name'><%= studio.name %></h2>
  <p>Location: <%= studio.location %></p>
  <% studio.movies.each do |movie| %>
    <h3 class='movie-name'><%= movie.title %></h3>
  <% end %>
<% end %>
